<div class="p-4 w-full">

  <h3 class="text-2xl pb-4">İmtahan əlavə et </h3>
  <div class="flex flex-col w-full">

    <mat-form-field appearance="fill">
      <mat-label>Tarix</mat-label>
      <input matInput type="date" [(ngModel)]="exam.date">
    </mat-form-field>




    <mat-form-field>
      <mat-label>Şagirdin nömrəsi</mat-label>
      <mat-select [(ngModel)]="exam.studentId">
        @for (student of students; track $index) {
          <mat-option [value]="student.id">{{student.name}} {{student.surname}} (№{{student.studentNumber }})</mat-option>
        }
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Dərsin kodu</mat-label>
      <mat-select [(ngModel)]="exam.lessonId">
        @for (lesson of lessons; track $index) {
          <mat-option [value]="lesson.id">{{lesson.name}} ({{lesson.code }})</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Qiymət</mat-label>
      <input min="1" max="9" matInput type="number" [(ngModel)]="exam.grade">
    </mat-form-field>

  </div>

  <div class="flex gap-6 justify-end">
    <button mat-raised-button [color]="'primary'" (click)="add()">
      Əlavə et
    </button>
    <button mat-raised-button [color]="'warn'" (click)="cancel()">
      İmtina
    </button>
  </div>
</div>
